html > body {
	font-family: 'GmarketSansMedium';
}

/* 라이브러리 */
.table-box-type-1 > table {
	width: 100%;
}

.table-box-type-1 > table th, .table-box-type-1>table td {
	border: 1px solid black;
	padding: 10px;
}

.btn-text-link {
	color: blue;
}

.btn-text-link:hover {
	text-decoration: underline;	
}